# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Streamlit
.streamlit/

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# HuggingFace & Torch cache
.cache/
huggingface/
checkpoints/

# OS artifacts
.DS_Store
Thumbs.db
